API_ID=your_api_id_here
API_HASH=your_api_hash_here
BOT_TOKEN=your_bot_token_here
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/
DB_NAME=mitsuribot
OPENAI_API_KEY=your_openai_api_key_here
